/* header */
.header-container {
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #5bb139;
  height: 80px;
}

.site-menu-list {
  display: flex;
  gap: 24px;
} 

.site-menu-list-items {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #83837a;
  transition: 0.3s;
}

.site-menu-list-items::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #5bb139;
  transition: width 0.3s;
}

.site-menu-list-items:hover::after {
  width: 100%;
}

.header-contacts-phone {
  font-weight: 700;
  font-size: 16px;
  color: #444;
  line-height: normal;
  transition: 0.3s;
}

.header-contacts-phone:hover,
.header-contacts-phone:focus,
.site-menu-list-items:hover,
.site-menu-list-items:focus,
.site-menu-list-items.current {
  color: #5bb139;
}

.open-bth-header,
.close-bth-header,
.mobile-menu {
  display: none;
}

@media only screen and (min-width: 947px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
  }

  body {
    padding-top: 80px; /* altezza dell'header */
  }
}

/* Mobile vertion */
@media only screen and (max-width: 946px) {
  .site-menu,
  .header-contacts {
    display: none;
  }
  
  .header-container {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 48px;
  }

  .logo-icon {
    width: 118px;
    height: 16px;
  }
  
  .open-bth-header {
    display: block;
  }

  .open-bth-header,
  .close-bth-header {
    border-radius: 12px;
    width: 36px;
    height: 36px;
    background: #eff1f4;
    padding: 0;
    border: transparent;
    stroke-width: 1.5px;
    stroke: #5bb139;
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 16px;
  }

  .mobile-menu.is-open {
    display: flex;
    flex-direction: column;
  }

  .mobile-menu.is-open .close-bth-header {
    display: block;
  }

  .mobile-menu.is-open .open-bth-header {
    display: none;
  }

  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 302px;
    padding: 16px;
    height: 100%;
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobile-menu-list-items {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #83837a;
  }

  .header-mobile-contacts-phone {
    font-weight: 700;
    font-size: 18px;
    color: #444;
  }

}

